.mystyle{
    max-width: 100%;
    display: block;
    background-color: brown;
}

.hidden{
    display: none;
}

.btn-6 {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  #display-stocks{
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .body{
      margin:3px;
  }
 .legend{
      justify-content: center;
      text-decoration: underline;
      word-spacing: 10px;
  }

body{
    font-family:'Oswald', 'play for display','Tiro Tamil'  ;
}

.searchbutton{
    display: block;
    width: 100%;
    margin:2px;
    font-weight: 900;
}

.title{
    text-decoration: underline;
    word-spacing: 10px;
    justify-content: center;
}

#submitBtn{
    display: block;
    width:100%;
    margin-top:20px;
    margin-bottom:30px;
}

#inpKey{
    display: block;
    width: 100%;
    margin-top: 20px;
}
#cont1{
    background-color: #2ff1f1;
    height:844px
}

h3{
    font-size: x-large;
}

#field{
    margin-top: 50px;
}

#dynamic-list{
    margin-top: 30px;
    position: relative;
    right:20px
}

.col-8{
    background:url(https://img.freepik.com/free-vector/buy-sell-concept-design-showing-bull-bear_1017-13716.jpg?t=st=1654464933~exp=1654465533~hmac=ed40649fce5a1e8b7a666bf468983d24e9c22bb5d663f897b5db27ca019e6056&w=740);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

#display-charts{
    z-index: +1;
}

h3{
    font-weight: bolder;
}
